@import url('https://use.fontawesome.com/releases/v5.15.0/css/all.css');

/* configure one colors */

:root {
  --color-gray-100: #f0f3f6;
  --color-gray-300: #bcd;
  --color-gray-500: #779;
  --color-gray-700: #335;
  --color-gray-900: #013;
  --color-primary: #36f;
  --shadow-elevation-1: 0 2px 4px #0133;
  --unit-1x: 72px;
}

/* cascading element styles */

* { box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-gray-100);
  color: var(--color-gray-700);
  font: 16px/1 'SF Pro Text', -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  overflow: hidden;
  text-rendering: geometricPrecision;
}

h1 {
  color: #013;
  font-size: 40px;
  letter-spacing: -.02em;
  line-height: 1;
  margin: 0 0 24px;
}

h2 {
  color: var(--color-gray-900);
  font-size: 32px;
  line-height: 32px;
  margin: 24px 0;
}
h3 {
  font-size: 24px;
  line-height: 24px;
  margin: 32px 0 16px;
}

p { margin: 16px 0; }

pre { border-radius: 6px; }

li { margin-bottom: 16px; }
li strong { color: var(--color-gray-900); }

/* https://www.dannyguo.com/blog/animated-multiline-link-underlines-with-css/ */
a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  color: var(--color-primary);
  text-decoration: none;
  transition: background-size .5s cubic-bezier(.1,1,.3,1);
}
a:focus,
a:hover { background-size: 100% 2px; }

.External::after {
  content: '↗';
  margin-left: .2em;
  vertical-align: middle;
}

button,
input,
select {
  background: #fff;
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 6px 10px;
}
button,
select { border: none; }
input { border: 1px solid var(--color-gray-300); }
select { appearance: none; position: relative; }

i { pointer-events: none; }

img {
  max-width: 100%;
  vertical-align: bottom;
}

:disabled {
  cursor: not-allowed;
  opacity: .3;
}

/* layout */

.Center {
  margin: 0 auto;
  max-width: 960px;
}

/* common appearance? */

.Button {
  align-items: center;
  background: var(--color-primary);
  border-radius: 4px;
  color: #fff;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 4px 12px;
}
.Button i {
  font-size: 24px;
  margin-right: 8px;
}
.Button:hover { background: #63f; }

.Copyable { position: relative; }
pre + button {
  padding: 12px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
}
pre + button:hover { color: #fff; }

.Lede {
  font-size: 40px;
  line-height: 1.3;
}

.Smallcaps {
  color: #0136;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .06em;
  text-transform: uppercase;
}

/* body > div { padding: 24px; } */
/* body > div:nth-child(2n + 1) { background: #f0f3f6; }
body > div:first-child {
  background: #335;
  color: #fff;
} */

@media only screen and (max-width: 767px) {
  .Lede { font-size: 30px; }
}

/* layout = position + space + outline */

#Toolbar-Top {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid var(--color-gray-300);
  display: flex;
  height: 48px;
  justify-content: space-between;
  padding: 4px;
}
#Logo { padding: 12px; }
#Logo-Type {
  letter-spacing: .05em;
  text-transform: uppercase;
}
#Toolbar-Top-Right {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#Search {}
#Profile {
  align-items: center;
  background: none;
  display: flex;
  justify-content: space-between;
  margin-left: 8px;
  padding: 4px;
}
#Profile:hover { background: #fff; }
#Profile-Image {
  background-color: var(--color-gray-100);
  border-radius: 16px;
  height: 32px;
  width: 32px;
}
#Profile-Name { margin: 0 8px; }
#Not-Toolbar-Top {
  display: flex;
  height: calc(100vh - 48px);
}

#Nav-Admin-Root {
  background: #fff;
  border-right: 1px solid var(--color-gray-300);
  display: flex;
  flex-direction: column;
}
.Nav-1x #Nav-Admin-Root {
  width: var(--unit-1x);
}
.Tab-Icon-Label {
  border-radius: 0;
  color: var(--color-gray-500);
  padding: 12px 8px;
}
.Tab-Icon-Label i { font-size: 20px; }
.Tab-Icon-Label:hover,
.Tab-Icon-Label.selected {
  border-left: 4px solid currentColor;
  padding-left: 4px;
}
.Tab-Icon-Label:hover { color: var(--color-gray-700); }
.Tab-Icon-Label.selected { color: var(--color-primary); }
.Nav-1x .Tab-Icon-Label {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}
.Nav-1x .Tab-Icon-Label i { margin-bottom: 4px; }

#Page {
  overflow-x: hidden;
  overflow-y: scroll;
  width: calc(100vw - var(--unit-1x));
}
#Nav-Admin-Sub {}
#Page-Content > div { padding: 24px; }

#Page-Products {}
#Wizard-Product { max-width: 800px; }
#Wizard-Product input {
  margin: 4px 0;
  width: 100%;
}
#Wizard-Product button { margin-top: 16px; }
.tabs .tab:nth-child(n+2) { display: none; }

.tab-buttons {
  display: flex;
  padding: 0;
}
.tab-buttons li {
  border-bottom: 4px solid var(--color-gray-300);
  color: #789;
  cursor: pointer;
  margin: 0 8px 0 24px;
  padding: 8px;
}
.tab-buttons li.active {
  border-color: currentColor;
  color: var(--color-primary);
  font-weight: bold;
}
.tab-buttons li:not(.active):hover {
  border-color: currentColor;
  color: currentColor;
}

.temp-types { display: flex; }
.temp-types > div {
  color: #789;
  cursor: pointer;
  margin-right: 24px;
}
.temp-types > div:hover { color: currentColor; }
.temp-types > .selected {
  color: var(--color-primary);
  font-weight: bold;
}

.temp-values > div {
  border-top: 1px solid var(--color-gray-300);
  display: flex;
}
.temp-values > div > div {
  flex: 1;
  padding: 16px;
}
.temp-preview {
  background: #fff;
}
.temp-option {
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 4px;
  padding: 16px;
}
.temp-option:hover { border-color: currentColor; }
.temp-option.selected { border-color: var(--color-primary); }

.radio_traditional .temp-option {
  border: 0;
  display: flex;
  position: relative;
}
.radio_traditional .temp-option::before {
  border-radius: 8px;
  border: 1px solid currentColor;
  content: '';
  display: block;
  height: 16px;
  left: -10px;
  top: 0;
  width: 16px;
}
.radio_traditional .temp-option.selected::before { background: var(--color-primary); }

/* obvi temporary */
#Products {
  border-radius: 8px;
  margin-top: 24px;
}
#Products > div {
  background: #fff;
  color: var(--color-primary);
  cursor: pointer;
  font-weight: bold;
  padding: 16px;
}
#Products > div:hover { background: #fff9; }
#Products > div:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
#Products > div:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#Products > div:nth-child(n + 1) { border-top: 1px solid var(--color-gray-100); }

#Toolbar-Product {
  align-items: center;
  background: #fff;
  box-shadow: var(--shadow-elevation-1);
  display: flex;
  justify-content: space-between;
}
#Toolbar-Product h1 {
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
#Toolbar-Product i {
  color: var(--color-gray-300);
  margin: 0 8px;
}
#Toolbar-Product button:first-of-type {
  color: var(--color-gray-500);
  margin-right: 8px;
}

.temp-product {
  display: flex;
  margin-bottom: 24px;
}
.table,
#Preview { flex: 1; }
.table .fas { color: var(--color-gray-300); }
.table .fa-angle-down { color: var(--color-primary); }
.row {
  align-items: center;
  background: #fff;
  display: flex;
  margin-bottom: 1px;
}
.row:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.row:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.count { color: var(--color-gray-300); }
.row-p {
  background: #fff9;
  color: var(--color-gray-500);
}
.row-i {
  cursor: pointer;
  font-weight: 600;
  margin-top: 3px;
}
.row-i .cell:not(.count):hover,
.row-v .cell:not(.count):hover { box-shadow: var(--shadow-elevation-1); }
.cell { padding: 12px; }
.cell:first-child {
  padding-right: 4px;
  flex: 0 0 28px;
  text-align: center;
}
.cell.fa-bars {
  cursor: grab;
  font-size: 13px;
  line-height: 16px;
}
.cell:nth-child(3) {
  flex: 1;
  padding-left: 8px;
}
input.cell {
  background: none;
  border: 0;
  padding: 11px;
}
.action {
  border-radius: 4px;
  color: var(--color-gray-500);
  cursor: pointer;
}
.action:hover,
.action:hover .fas { color: currentColor; }
.row-a { margin-top: 3px; }

#Preview {
  background: #fff;
  border-radius: 8px;
  margin-left: 24px;
  padding: 32px;
}

select.cell { padding-right: 24px; }
.table select + .fas {
  color: currentColor;
  margin-left: -18px;
  position: relative;
}

@media only screen and (min-width: 767px) {
  #Toolbar-Top {
    height: 72px;
    padding: 16px;
  }
}

#Dev {
  background: #fffe;
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  padding: 72px;
  position: absolute;
  right: 0;
  top: 0;
}